{% extends "text.html" %}


{% block head %}
<script type="text/javascript" src="/static/cookies.js"></script>
<script type="text/javascript">
langs = getCookie("langs");
if (langs == null)
   langs = "pl-cu";
reload_page_on_change = false;
</script>
<script type="text/javascript" src="/static/switch-langs.js"></script>
{% endblock %}


{% block content %}

<h1>
  {% if up %}<a class="hidden" href="{{ up.href }}"
                title="Go up to {{ up.label }}">↩</a>{% endif %}
  {{ title }}
</h1>

{% for d in dirs %}
<h2>➜ <a href="{{ d }}/">{{ d }}</a></h2>
{% endfor %}

<table class="toc">
{% for base, langs, pairs in by_names %}
    <tr>
    <td>{# ❑ #}<a href="{{ base }}.default">{{ base }}</a></td>
    <td>{% if 'pl' in langs %}<a href="{{ base }}.pl">pl</a>{% endif %}</td>
    <td>{% if 'cu' in langs %}<a href="{{ base }}.cu">cu</a>{% endif %}</td>
    <td>{% if 'el' in langs %}<a href="{{ base }}.el">el</a>{% endif %}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
