{% extends "base.html" %}


{% block content %}

<h1>{{ title }}</h1>

{% if info %}
<p class="info">{{ info }}</p>
{% endif %}

{% for r in results %}
<div class="hidden-frame result">
  <p><strong><a href="{{ r.link }}">{{ r.name }}.{{ r.lang }}</a></strong></p>
  <p class="{{ r.lang }}">{{ r.fragments.0 }}{% for f in r.fragments|slice:"1:" %}{% cycle " <em>" "</em> "|safe %}{{ f }}{% endfor %}</p>
</div>
{% endfor %}

{% if page_num < page_count %}
<p class="footer"><a href="/search/?q={{ query }}&amp;p={{ page_num|add:1 }}">Next page →</a></p>
{% endif %}

{% endblock %}
