*.pyc
.#*
*.log

# search index
index/

# alignment files
*.hunalign
*.huninput
texts/*.my
texts/*/*.my
texts/*/*/*.my
texts/*.sentences
texts/*/*.sentences
texts/*/*/*.sentences
translate.txt

# PyCharm config
.idea/

# virtualenv folders
bin/
include/
lib/
local/

