bin/
include/
lib/
local/
*.pyc
.#*
*.hunalign
*.huninput
texts/*.my
texts/*/*.my
texts/*/*/*.my
texts/*.sentences
texts/*/*.sentences
texts/*/*/*.sentences
*.log
installation_notes
index/
translate.txt
*.aux
*.bbl
*.toc
*.blg
*.lof
*.lot
external/
.idea/
