{% extends "base.html" %}


{% block head %}
<script type="text/javascript" src="/static/cookies.js"></script>
<script type="text/javascript">
langs = "{{ langs }}"
reload_page_on_change = true;
</script>
<script type="text/javascript" src="/static/switch-langs.js"></script>
<script type="text/javascript" src="/static/highlight.js"></script>
<script type="text/javascript" src="/static/correction.js"></script>
{% endblock %}


{% block options %}
<div class="hidden-frame">
  <form id="options">
    <h3>Languages</h3>
    <p><input id="cb-pl" type="checkbox" value="pl" /><label for="cb-pl">Polish</label></p>
    <p><input id="cb-cu" type="checkbox" value="cu" /><label for="cb-cu">Church Slavonic<em>, original</em></label></p>
    <p><input id="cb-cue" type="checkbox" value="cue" /><label for="cb-cue">Church Slavonic<em>, with expanded abbreviations and converted numbers</em></label></p>
    <p><input id="cb-cut" type="checkbox" value="cut" /><label for="cb-cut">Church Slavonic<em>, transcribed phonetically to Polish</em></label></p>
    <p><input id="cb-el" type="checkbox" value="el" /><label for="cb-el">Ancient Greek<em>, original</em></label></p>
    <p><input id="cb-elt" type="checkbox" value="elt" /><label for="cb-elt">Ancient Greek<em>, transcribed phonetically to Polish</em></label></p>
    <img id="options-progress" src="/static/progress.gif" />
  </form>
</div>

{% if langs|length == 5 and table %}{# 5 - string length #}
<div class="hidden-frame">
  <form id="correction" method="post" action="{{ request.path }}/correct">{% csrf_token %}
    <h3>Corrections</h3>
    <p><input id="match-radio" name="tool" type="radio" value="match-radio" /><label for="match-radio">match sentences</label></p>
    <p><input id="split-radio" name="tool" type="radio" value="split-radio" /><label for="split-radio">split fragments</label></p>
    <p>Click sentences you want to link, and press Enter to add them here.</p>
    <p><textarea id="corrections" name="corrections">{{ corrections }}</textarea></p>
    <p><input type="submit" value="Save corrections" /></p>
  </form>
</div>
{% endif %}
{% endblock %}


{% block content %}

<h1>
  {% if up %}<a class="hidden" href="{{ up.href }}"
                title="Go up to {{ up.label }}">↩</a>{% endif %}
  {{ title }}
</h1>

{% if info %}
<p class="info">{{ info }}</p>
{% endif %}

<table class="align-table">
  <tr>
    {% for cell in table.0 %}
    <th style="width: {{ col_width }}%">{# {{ cell.lang }} #}</th>
    {% endfor %}
  </tr>

  {% for row in table %}
  <tr>
    {% for cell in row %}
    <td rowspan="{{ cell.rowspan }}">
      <p class="{{ cell.lang }}">
        {% for sentence in cell.sentences %}{% if sentence.is_break %}
      </p>
      <p class="{{ cell.lang }}">
        {% else %}{% spaceless %}
        <span class="sentence rung{{ sentence.rung_num }}" id="{{ cell.lang }}-{{ sentence.num }}" title="sent{{ sentence.num }}"><span class="label">♦{{ sentence.num }}</span>
          {{ sentence.text }}
        </span>
        {% endspaceless %}{% endif %}{% endfor %}
      </p>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
